@model IEnumerable<PersonDetailGetAllDto>

    <!-- Professional Details -->

    <ul class="personal-info">
        @foreach(var item in Model)
        {
            <li>
                <p><span> Name</span> @item.FullName</p>
            </li>
            <li>
                <p><span> Birthday</span> @item.DateOfBirth</p>
            </li>
            <li>
                <p><span> Location</span> @item.Location</p>
            </li>
            <li>
                <p><span> Experience</span> @item.Experience</p>
            </li>
                        <li>
            <p><span> Fax</span> @item.Fax</p>
            </li>
                                    <li>
            <p><span> Experience</span> @item.Experience</p>
            </li>
            <li>
                <p><span> FAX</span> @item.Fax</p>
            </li>
            <li>
                <p>
                    <span>Website</span>@item.Website
                </p>
            </li>
        }

    </ul>


