@model WebUI.Areas.Admin.Models.SkillViewModel

@{
    ViewData["Title"] = "Skills Management";
}

<div class="container" style="margin-top:100px">
    <div class="page-header">
        Person Skill
    </div>

    <!-- Sayfa içeriği -->
    <div class="page-body">
        <!-- Beceri Tablosu -->
        <div class="card">
            <div class="card-header">
                <h5>Skills</h5>
            </div>
            <div class="card-block table-border-style">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Skill</th>
                                <th>Skill Group</th>
                                <th>Skill Type</th>
                                <th><a class="btn btn-success" asp-action="Create">Add</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var skill in Model.Skills)
                            {
                                <tr>
                                    <td>@skill.Name</td>
                                    <td>
                                        @Model.SkillGroups.FirstOrDefault(sg => sg.Id == skill.GroupId)?.Name
                                        
                                    </td>
                                    <td>
                                        @Model.SkillTypes.FirstOrDefault(st => st.Id == Model.SkillGroups.FirstOrDefault(sg => sg.Id == skill.GroupId)?.TypeId)?.Name
                                    </td>
                                    <td>
                                        <a class="btn btn-success" asp-action="Edit" asp-route-id="@skill.Id">Edit</a>
                                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@skill.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Diğer Tablo veya İçerik Alanları Buraya Gelecek -->
    </div>
</div>
